<div th:fragment="tool_fragment" th:id="${collapseId}" class="panel-collapse collapse">
	<div class="panel-body">
		<p th:if="${items == null or items.isEmpty()}" th:text="#{items.empty}">There are no items to modify in this tool.</p>
		<table th:unless="${items == null or items.isEmpty()}" class="table table-condensed table-striped table-bordered table-coursedates">
			<thead>
				<tr>
					<th th:text="#{column.title}">Title</th>
					<th th:text="#{column.start.date}">Start Date</th>
					<th th:text="#{column.start.due.date}">End/Due Date</th>
					<th th:text="#{column.accept.until.date}">Accept Until Date</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="item, iter : ${items}">
					<tr>
						<td>
							<a th:href="@{${item.url}}" target="_blank">
								<span th:text="${item.title}">Item title</span>
								<span th:if="${item.extraInfo != 'false'}" th:text="${'(' + item.extraInfo + ')'}">Extra</span>
							</a>
						</td>
						<td th:switch="${toolId}">
							<div th:case="'gradebookItems'"></div>
							<div th:case="*">
								<input type="text" class="form-control datepicker" />
								<input type="hidden" th:value="${item.open_date}" th:attr="data-idx=${iter.index},data-tool=${toolId}" data-field="open_date" />
								<div><small class="text-muted day-of-week"></small></div>
								<div><small class="errors"></small></div>
							</div>
						</td>
						<td th:switch="${toolId}">
							<div th:case="'lessons'"></div>
							<div th:case="*">
								<input type="text" class="form-control datepicker" />
								<input type="text" class="hidden" th:value="${item.due_date}" />
								<input type="hidden" th:value="${item.due_date}" th:attr="data-idx=${iter.index},data-tool=${toolId}" data-field="due_date" />
								<div><small class="text-muted day-of-week"></small></div>
								<div><small class="errors"></small></div>
							</div>
						</td>
						<td th:switch="${toolId}">
							<div th:case="'gradebookItems'"></div>
							<div th:case="'signupMeetings'"></div>
							<div th:case="'resources'"></div>
							<div th:case="'calendarEvents'"></div>
							<div th:case="'forums'"></div>
							<div th:case="'announcements'"></div>
							<div th:case="'lessons'"></div>
							<div th:case="*">
								<input type="text" class="form-control datepicker" />
								<input type="hidden" th:value="${item.accept_until}" th:attr="data-idx=${iter.index},data-tool=${toolId}" data-field="accept_until" />
								<div><small class="text-muted day-of-week"></small></div>
								<div><small class="errors"></small></div>
							</div>
						</td>
					</tr>
				</th:block>
			</tbody>
		</table>
	</div>
</div>
